html, body{
  height: 100vh;
}

/*body, select {
  font: 10pt sans;
}*/

/*Navbar*/
.navbar-custom{
	background-color: transparent;
	border-color: transparent;
}
.navbar-custom .navbar-brand{
	color:  #000000;
	font-family: "Helvetica Neue Light",Helvetica,Arial,sans-serif
}

.navbar-custom .nav li a,.navbar-custom .navbar-toggle{
	font-family: "Helvetica Neue Light","Helvetica Neue Thin","Helvetica Neue",Helvetica, sans-serif;
	color: #000000;
	text-transform: uppercase
}
.navbar-custom .navbar-collapse{
	border-color: #5C5C5C
}
.navbar-custom .navbar-toggle{
	background-color: transparent;
	border-color: #FFFFFF;
	border-width: 0px;
	font-size: 12px
}
.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover{
	background-color: transparent;
}
.navbar-custom .nav li a{
	letter-spacing: 1px
}
.navbar-custom .nav li a:focus,.navbar-custom .nav li a:hover{
	color: #5C5C5C;
	outline: 0
}
#logo{
	max-width: 27px;
	margin-right: 5px;
	padding-bottom: 3px;
}


/*Graph*/
#graph{
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

table.legend_table {
  font-size: 11px;
  border-width:1px;
  border-color:#d3d3d3;
  border-style:solid;
}
table.legend_table,td {
  border-width:1px;
  border-color:#d3d3d3;
  border-style:solid;
  padding: 2px;
}
div.table_content {
  width:80px;
  text-align:center;
}
div.table_description {
  width:100px;
}

#operation {
  font-size:28px;
}
#graph-popUp {
  font: 10pt sans-serif;
  display:none;
  position:absolute;
  top:350px;
  left:170px;
  z-index:299;
  width:250px;
  height:135px;
  background-color: #f9f9f9;
  border-style:solid;
  border-width:3px;
  border-color: #5394ed;
  padding:10px;
  text-align: center;
}

/*move edit panel down*/
div.vis-network div.vis-edit-mode{
  background: transparent;
  top: 27px;
}

div.vis-network div.vis-manipulation{
  background: transparent;
  top: 50px;
  border-bottom: 0px;
}

div.vis-network div.vis-close{
  top: 50px;
}

div.vis-network div.vis-manipulation div.vis-button,
div.vis-network div.vis-edit-mode div.vis-button{
  height: 26px;
  border-width: 0px;
}