html
	head
		style
			include styles/login.css
		title Login
	body
		a(href='/')
			button HOME
		h1 Login below
		form(action='/login' method='POST')
			label(for='username') Username: <br>
			input(type='text', placeholder='username' name='username' value=username)
			|	<br>
			label(for='password') Password: <br>
			input(type='password', placeholder='password' name='password' value=password)
			| <br>
			button(type='submit') Login
		| Don't have an account? 
		a(href='/signup') 
			button Signup
		ul(id='messages')
			each item in messages
				li= item